.user{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
}
.back{
    font-size: 15px;
    margin: 30px 0px 100px 0px;  
}
.back a{
    padding: 0px 10px 0px 0px ;
}

h2{
    margin-top: 45px;
    font-size: 24px;
}
h5{
    font-size: 13.28px;
    padding: 15px 0px;
}
form{
    margin: 20px 0px;
}
label{
    font-size: 15px;
}
.label{
    margin: 15px 0px ;
}
.input{
    margin: 8px 0px;
    padding: 0px 15px;
    border: 1px solid rgba(145,158,171,.24);
    width: 500px;
    height: 40px;
    line-height: 1.5;
    border-radius: 6px;
}
.check{
    width: 15px;
    height: 15px;
    margin: 0px 12px 0px 12px ;
    font-style: bold;
}
.pass{
    display:  grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px;
    margin: 10px 0px ;
}
.lost{
    font-size: 15px;
    text-align: right;
    margin: 20px 0px 0px 90px;
    color: #00AB55;
}
.sm-login{
    width: 160px;
    height: 45px;
    background-color: #00AB55;
    color: snow;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0px;
    border-radius: 5px;
}
.sm-login:hover{
    background-color: #00a250;
}
